<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListDirectiveApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Template Expanding Directive</title>
</head>
<body>
    <h1>Template Expanding Directive</h1>
    <div ng-controller="ShoppingListController1 as list">
        <input type="text" ng-model="list.itemName" placeholder="Name">
        <input type="text" ng-model="list.itemQuantity" placeholder="Quantity">
    <button ng-click="list.addItem();">Add Item</button>
    
    <ol>
    <list-item ng-repeat="item in list.items"></list-item>
    </ol>
        <p>Error : {{list.errorMessage}}</p>
    </div>
    
    <div ng-controller="ShoppingListController2 as list">
        <input type="text" ng-model="list.itemName" placeholder="Name">
        <input type="text" ng-model="list.itemQuantity" placeholder="Quantity">
    <button ng-click="list.addItem();">Add Item</button>
    
    <ol>
        <list-item ng-repeat="item in list.items"></list-item>
    </ol>
        <p>Error : {{list.errorMessage}}</p>
    </div>


</body>
</html>